<!-- Loop -->
{{#foreach posts limit="{{@config.posts_per_page}}"}}
<div class="loop">
  <div class="row">
    <div class="columns">
      <p>{{#if feature_image}}<img src="{{feature_image}}" height="1333" width="2000" alt="Decorative Article Header Image">{{/if}}</p>
    </div>
  </div>
  <div class="row"> 
    <div class="columns">
      <h2><a href="{{url}}">{{title}}</a></h2>
    </div>
  </div>
  <div class="row"> 
    <div class="columns">
      <p>{{excerpt}}</p>
    </div>
   </div>
  <div class="row"> 
    <div class="columns">
      <p><img src="https://www.builtbygoat.com/assets/images/timer.svg" height="16" width="16" alt="Reading Time"> Reading Time <strong>{{reading_time}}</strong></p>   
    </div>
  </div>
</div>
{{/foreach}}
{{pagination}}