  {{#foreach posts}}
    <div class="large-12 columns post-padding">
      <div class="article-banner post-background" style="{{#if image}} background: url({{image}}) center center no-repeat fixed; {{else}}background-color:#212121;{{/if}}">
        <h4 class="article-title align-center">{{title}}</h4>
      </div>
      <div class="article-byline">
        <p>{{author}} &rarr; <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></p>
      </div>
      <div class="article-detail">
        <p>{{excerpt words="100"}}...</p>
        <p><a href="{{url}}">&rarr; READ MORE</a></p>
      </div>
    </div>
  {{/foreach}}