  <!-- Pagination -->
  <div class="row pagination">
    <div class="columns text-left">
      {{#if prev}}<p><strong><a href="{{page_url prev}}">&larr; Newer</a></strong></p>
        {{else}}<p><strong>&larr; Newer</strong></p>
      {{/if}} 
    </div>
    <div class="columns text-center">
      <p>Page {{page}} Of {{pages}}</p>
    </div>
    <div class="columns text-right">
      {{#if next}}<p><strong><a href="{{page_url next}}">Older &rarr;</a></strong></p>
        {{else}}<p><strong>Older &rarr;</strong></p>
      {{/if}}
    </div>
  </div>