<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="op: http://media.facebook.com/op#" class="has-navbar-fixed-top">
  <head itemscope itemtype="http://schema.org/WebSite">
    <!-- Base Header -->
    <title itemprop='name'>{{meta_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <link rel="stylesheet" href="/style.css">
    <meta name="robots" content="index, follow" />
    <!-- Basic SEO -->
    <meta name="author" content="Brett Mahoney">
    <meta property="op:markup_version" content="v1.0"> 
    <meta property="fb:pages" content="773145382793846" />
    <meta name="google-site-verification" content="z-54bUTH4z5m0u9ExNnnQmgOgTWIVVwVA9zIXofoH8U" />
    <meta name="msvalidate.01" content="B619C91732C4C543921C2909F5BBD0CC" />
    <meta name="apple-mobile-web-app-title" content="builtby+goat" />
    <meta name="application-name" content="builtby+goat" />
    <meta name="msapplication-config" content=“https://www.builtbygoat.com/images/browserconfig.xml” />
    <meta name="theme-color" content="#090707" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.builtbygoat.com/images/logo-favicon180.png" />
    <link rel="icon" type="image/png" href="https://www.builtbygoat.com/images/logo-favicon32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://www.builtbygoat.com/images/logo-favicon16.png" sizes="16x16" />
    <link rel="icon" type="image/x-icon" href="https://www.builtbygoat.com/images/favicon.ico" />
    <link rel="manifest" href="/manifest.json">
    <script type='application/ld+json'> 
      {
        "@context": "https://www.schema.org",
        "@type": "person",
        "name": "Brett Mahoney",
        "jobTitle": "Support Engineer",
        "url": "https://www.builtbygoat.com",
        "sameAs": [
          "http://www.twtter.com/kaiserhasee",
          "http://www.linkedin.com/in/mahoneybm"
        ]
      }
    </script>
    <script type='application/ld+json'>
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://www.builtbygoat.com",
        "logo": "="https://www.builtbygoat.com/images/logo.png"
      }
    </script>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>
    <!-- Analytics -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:80897,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>   
    <script>
      var disqus_config = function () {
        this.page.url = "{{url absolute="true"}}";  
        this.page.identifier = "ghost-{{comment_id}}"
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://builtbygoat.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    {{ghost_head}}
  </head>
  <body>

    <!-- Body -->
    {{navigation}}
    {{{body}}}
    <section class="section is-uppercase cta">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="has-text-centered"><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSfTuXMEgg-IJcbv6TJIR76r0IAi3VHbfjIJTEda4gzfMgOt_Q/viewform" target="_blank" rel="noopener">Let's speak.</a></h2>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    {{ghost_footer}}
    <footer class="footer is-uppercase">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p>Navigation</p> 
            <p><a href="/support/">Get Support</a></p>
            <p><a href="/resume/">My Resume</a></p>
            <p><a href="/technical/">About Site</a></p>
            <p><a href="/sitemap/">Site Map</a></p>
          </div>
          <div class="column">
            <p>Categories</p>
            <p><a href="https://www.builtbygoat.com/tag/technology/">technology</a></p>
            <p><a href="https://www.builtbygoat.com/tag/general/">general</a></p>
          </div>
          <div class="column">
            <p>&copy; 2018 <a href="https://www.builtbygoat.com">Brett Mahoney</a></p>
            <p><a href="https://twitter.com/kaiserhase/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/twitter.svg" height="32" width="32" alt="Twitter Feed" class="social-top"></a> <a href="https://www.linkedin.com/in/mahoneybm/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/images/linkedin.svg" height="32" width="32" alt="LinkedIn Profile" class="social-top"></a></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>