<!doctype html>
<html lang="en" class="no-js" dir="ltr">
  <head>
    <!-- Base -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="handheldfriendly" content="true">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="z-54bUTH4z5m0u9ExNnnQmgOgTWIVVwVA9zIXofoH8U">
    <meta name="msvalidate.01" content="B619C91732C4C543921C2909F5BBD0CC">
    <title>Greater Bostons Support Engineer | Brett Mahoney</title>
    <link rel="stylesheet" href="https://www.builtbygoat.com/assets/css/style.css">
    <link rel="shortcut icon" href="https://www.builtbygoat.com/assets/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.builtbygoat.com/assets/images/logofavicon180.png">
    <link rel="icon" type="image/png" href="https://www.builtbygoat.com/assets/images/logofavicon32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://www.builtbygoat.com/assets/images/logofavicon16.png" sizes="16x16">
    <!-- SEO -->
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "WebSite", 
        "name" : "Greater Bostons Support Engineer | Brett Mahoney",
        "url" : "https://www.builtbygoat.com/",
      }
    </script>
    <script type='application/ld+json'>
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://www.builtbygoat.com/",
        "logo": "https://www.builtbygoat.com/assets/images/logo.png"
      }
    </script>
    <script type='application/ld+json'> 
      {
        "@context": "https://www.schema.org",
        "@type": "person",
        "name": "Brett Mahoney",
        "jobTitle": "Support Engineer",
        "url": "https://www.builtbygoat.com",
        "sameAs": [
          "http://www.twtter.com/kaiserhase",
          "http://www.linkedin.com/in/mahoneybm"
        ]
      }
    </script>
    <!-- Analytics -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:80897,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>   
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67402827-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-67402827-1');
    </script>
    {{#is "post, page"}}
      <script>
        var disqus_config = function () {
          this.page.url = "{{url absolute="true"}}";  
          this.page.identifier = "ghost-{{comment_id}}"
        };
        (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://builtbygoat.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
    {{/is}} 
    {{ghost_head}}
  </head>
  <body> 
  {{#is "index"}}
    <!-- Hero -->
    <div class="hero-section">
      <div class="hero-section-text">
        <h1>Brett Mahoney</h1>
        <h5>Boston-based senior support engineer.</h5>
      </div>
    </div>
  {{/is}}
  {{navigation}}
  {{{body}}}
  <div class="row blue">
    <div class="columns text-center">
      <h3><a class="button red" href="https://www.surveymonkey.com/r/3W5VWZY" target="_blank" rel="noopener">Let's speak today.</a></h3>
    </div>
  </div>
  <!-- Footer -->
  {{ghost_footer}}
  <div class="row footer">
    <div class="columns">
      <p>&copy; 2019 <a href="https://www.builtbygoat.com/">Brett Mahoney</a></p>
      <p><a href="https://twitter.com/kaiserhase/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/assets/images/twitter.svg" height="32" width="32" alt="Twitter Feed" class="social-top"></a> <a href="https://www.linkedin.com/in/mahoneybm/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/assets/images/linkedin.svg" height="32" width="32" alt="LinkedIn Profile" class="social-top"></a></p>
    </div>
  </div>
  </body>
</html>