<!doctype html>
<html class="no-js" lang="en" dir="ltr" amp>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Brett, Mahoney, UX, Geek, Tech Support, Website, Marketing, HTML5, CSS3, Javascript, Network Administration, Systems Administration, Learn Tech, Veteran, US Army Veteran, Tier I Tech Support">
    <meta name="description" content="{{meta_description}}">
    <meta name="author" content="Brett Mahoney">
    <meta name="handheldfriendly" content="true">
    <link rel="canonical" href="index.html">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="https://www.builtbygoat.com/style.css">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
  </head>
  <body class="align-justify">
  {{navigation}}
  {{{body}}}
  {{ghost_foot}}
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:80897,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <meta name="google-site-verification" content="z-54bUTH4z5m0u9ExNnnQmgOgTWIVVwVA9zIXofoH8U" />
  <div class="accent"></div>
  <div class="social"><a href="http://www.twitter.com/kaiserhase/" target="_blank"><amp-img src="https://www.builtbygoat.com/images/tw.png" height="48" width="48"></amp-img></a> <a href="http://www.linkedin.com/in/mahoneybm/" target="_blank"><amp-img src="https://www.builtbygoat.com/images/in.png" height="48" width="48"></amp-img></a></div>
  </body>
</html>