{{!< default}}
	
    {{#post}}    
   <div class="row">
    <div class="large-12 columns">
      <div class="article-title">
        <p><span class="date"><amp-img src="https://www.builtbygoat.com/images/date.svg" height="16" width="16" alt="Date Posted"></amp-img> Date</span> <strong><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></strong></p>
           <p class="article-banner {{#if feature_image}}banner-height{{/if}}">{{#if feature_image}}<amp-img src="{{img_url feature_image}}" height="645px" width="968px" layout="responsive" alt="Article Header"></amp-img>{{/if}}</p>
     <h2>{{title}}</h2>
        <p><span class="author"><amp-img src="https://www.builtbygoat.com/images/author.svg" height="16" width="16" alt="Posted By"></amp-img> Author</span> <strong>{{author}}</strong></p>
      </div>
      <div class="article-detail">
        {{content}}
      </div>
      <div class="article-byline">
        <div class="columns small-12">
           <p><span class="share"><span class="date"><amp-img src="https://www.builtbygoat.com/images/share.svg" height="16" width="16" alt="Share This Post"></amp-img> Share</span> <strong><span class="twitter"><a href="https://twitter.com/intent/tweet?url={{url absolute="true"}}" target="_blank" rel="noopener">Twitter</a></span> <span class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank" rel="noopener">Facebook</a></span> <span class="linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}" target="_blank" rel="noopener">LinkedIn</a></span></strong></p>
          <p><span class="tags"><span class="date"><amp-img src="https://www.builtbygoat.com/images/tags.svg" height="16" width="16" alt="Posted Tagged Under"></amp-img> Tags</span> <strong>{{#if tags}}{{tags}}{{else}}Uncategorized{{/if}}</strong></p>
       </div>
        <div class="columns small-12" id="disqus_thread">
          <amp-iframe width=600 height=140
            layout="responsive"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            resizable
            src="https://cdn.rawgit.com/kaiserhase/builtbygoat/0bf23f62/amp.html?shortname=builtbygoat&fontBodyFamily=sans-serif&fontLinkColor=03A9F4&url={{url absolute="true"}}&identifier=ghost-{{id}}">
            <div overflow tabindex=0 role=button aria-label="Disqus Comments" class="align-center commentary">Click here to view all comments.</div>
           </amp-iframe>
         </div>
      </div>
    </div>
  </div>
 <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://google.com/article"
  },
  "headline": "{{meta_title}}",
  {{#if feature_image}}
  "image": {
    "@type": "ImageObject",
    "url": "{{img_url feature_image absolute="true"}}",
    "height": 768,
    "width": 1024
  },
  {{/if}}
  "datePublished": "{{date published_at format="YYYY-MM-DDThh:mm:ss+05:00"}}",
  "dateModified": "{{date modified_at format="YYYY-MM-DDThh:mm:ss+05:00"}}",
  "author": {
    "@type": "Person",
    "name": "{{author.name}}"
  },
   "publisher": {
    "@type": "Organization",
    "name": "builtby+goat",
      "logo": {
      "@type": "ImageObject",
      "url": "https://www.builtbygoat.com/images/logo.png",
      "width": 197,
      "height": 60
      }
    },
  "description": "{{meta_description}}"
}
</script>
   {{/post}}