{{!< default}}
<!-- Tag -->
  {{#tag}}
    <div class="row">
      <div class="columns">
        <h1>{{name}}</h1>
        <p>{{#if description}}{{description}}{{else}}{{../pagination.total}} similar posts{{/if}}</p>
      </div>
    </div>
  {{/tag}}
  {{> "loop"}}
  <!-- RSS --a>
  <div class="row">
    <div class="columns">
      <p class="text-center"><a href="{{@blog.url}}/tag/{{#tag}}{{name}}{{/tag}}/rss/" target="_blank" rel="noopener"><img src="https://www.builtbygoat.com/assets/images/rss.svg" height="24" width="24" alt="RSS Feed"></a></p>    
    </div>
  </div>